.badge{
  background-color:var(--Background-Highlight);
  border-radius:3px;
  position:absolute;
  padding:2px 8px;
  top:10px;
  left:10px;
  user-select:none;
  -ms-user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.badge.__live{
  color:var(--AccentRed);
}
.badge.__live .circle{
  background-color:var(--AccentRed);
}
