.play-btn{
  position:absolute;
  width:58px;
  height:58px;
  left:50%;
  top:50%;
  translate:-50% -50%;
  background-color:var(--Background-Main50, rgba(14 20 27 / .5));
  border-radius:3px;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}