.menu-general{
  display:flex;
  align-items:center;
  column-gap:19px;
}
.helperMenu-area{
  display:flex;
  align-items:center;
}

.icon-minimize,
.icon-maximize,
.icon-close{
  font:var(--Text-HeadingMedium);
  display:flex;
  align-items:center;
}