.btn {
  padding:6px 15px;
  border-radius:3px;
  cursor:pointer;
  position:relative;
}
.btn-dark{
  background-color:var(--Background-Highlight);
  color:var(--Text-Dim);
}
.btn-secondary{
  background-color:var(--ColorSecondary);
}
.btn-see-more{
  font:var(--Text-BodyLarge);
}
