.btn {
  padding:6px 15px;
  border-radius:3px;
  cursor:pointer;
  position:relative;
  color:var(--Text-Dim);
  transition:all .15s ease-in-out;
}
.btn:hover{
  filter:brightness(1.4);
}
.btn-dark{
  background-color:var(--Background-Highlight);
}
.btn-dark:hover{
  background-color:var(--Background-Hover);
  color:var(--Text-Main);
}
.btn-secondary{
  background-color:var(--ColorSecondary);
}
.btn-secondary:hover{
  background-color:var(--ColorPrimary);
  color:var(--Background-Main);
}
.btn-border{
  border:1px solid rgba(118 128 140 / .2);
  font:var(--Text-BodyLarge);
  color:var(--Text-Dim);
}
.btn-border:hover{
  border-color:rgba(118 128 140 / .5);
  color:var(--Text-Main);
}
.btn-recent{
  font:var(--Text-BodyLarge);
}
.btn-category{
  display:flex;
  align-items:center;
  gap:10px;
  font:var(--Text-BodySmall);
  color:var(--Text-Dim);
}
.btn-buy{
  width:100%;
  height:100%;
  font:var(--Text-BodyLarge);
  color:var(--Text-Main);
}
.btn-accent{
  background-color:var(--AccentGreen);
  color:var(--Background-Main);
}
.btn-accent:hover{
  background-color:var(--Color-Green);
}
.btn-social{
  background-color:rgba(118 128 140 / .05);
  padding:10px;
}
.btn-social:hover{
  background-color:rgba(118 128 140 / .2);
}
.btn-social-icon{
  display:flex;
  align-items:center;
  color:var(--Text-Dim);
}
.btn-func{
  color:var(--Text-Dim);
  width:27px;
  height:27px;
  padding:4px;
  background-color:rgba(118 128 140 / .05);
}

/* BAR TIMER TO CHANGE GAME VIEWE */
.featured-bar-timer{
  display:flex;
  align-items:center;
  justify-content:center;
  column-gap:10px;
}
.btn-timer{
  background-color:var(--Background-Main);
  width:35px;
  border-radius:40px;
  position:relative;
}
.btn-timer:first-child::before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:70%;
  background-color:var(--ColorSecondary);
  border-radius:inherit;
  transition:.15s ease-in;
}


/* COMMUNITY */
.__btn-interaction{
  display:flex;
  align-items:center;
  justify-content:space-between;
  column-gap:5px;
}

.__btn-shop{
  color:var(--Text-Main);
  background-color:rgba(118 128 140 / .10);
  padding:9px 9.5px;
  transition:background-color .2s;
}
.__btn-shop:hover{
  background-color:rgba(118 128 140 / .3);
}

/* BROWSE */
.btn-x{
  padding:0;
}