.menu-area{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:734px;
  list-style:none;
}
.menu-link{
  color:var(--Text-Main);
  text-transform:uppercase;
  text-decoration:inherit;
}
.menu-link:focus,
.menu-link:focus-visible{
  color:var(--ColorPrimary);
}
.logo{
  background:url('../../assets/img/logo-steam.svg') no-repeat;
  background-size:cover;
  width:88px;
  height:20.988px;
  display:block;
}