.list-menu{
  list-style:none;
  display:flex;
  align-items:center;
  column-gap:5px;
}
.list-item{
  position:relative;
  border-radius:3px;
  color:var(--Text-Dim);
  font:var(--Text-BodyLarge);
  cursor:default;
}
.list-link{
  padding:7px 20px;
  color:var(--Text-Main);
  text-transform:uppercase;
  text-decoration:inherit;
  cursor:pointer;
  transition:.15s ease;
}
.__nav-community-link,
.__nav-community-p{
  text-transform:capitalize;
  color:var(--Text-Dim);
  border-radius:3px;
}
.__nav-community-link:hover{
  background-color:var(--Background-Highlight);
  color:var(--Text-Main);
}
.__nav-community-link.active:hover{
  background-color:var(--Background-Hover);
}
.__nav-community-p{
  cursor:default;
}
.active{
  background-color:var(--Background-Hover);
  color:var(--Text-Main);
}
.__btn.active{
  background-color:var(--Background-Hover);
}
.__helperMenu{
  margin:0 6px;
  padding:8px;
}
.__pointer{
  cursor:pointer;
}
.__column{
  flex-direction:column;
  align-items:flex-start;
}
.__footer-item{
  margin:8px 0;
  padding:0;
}

.__generalMenu{
  column-gap:10px;
}
.__generalItem{
  padding:0;
}
.__generalLink{
  color:var(--Text-Main);
  font:var(--Text-BodyLarge);
  padding:13px 29px;
  border-radius:3px;
  display:block;
}

.__generalLink:hover{
  background-color:var(--Background-Hover);
}
.__generalLink.active-menu,
.__generalLink:focus,
.__generalLink:focus-visible,
.__generalLink:active{
  background-color:var(--ColorSecondary);
}