.list-menu{
  list-style:none;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.list-item{
  position:relative;
  border-radius:3px;
  color:var(--Text-Dim);
  cursor:default;
}
.list-link{
  color:var(--Text-Dim);
  font:var(--Text-BodyLarge);
  padding:7px 20px;
  text-decoration:inherit;
  cursor:pointer;
  border-radius:3px;
  transition:.15s ease;
}
.__link-title-bar{
  text-transform:uppercase;
  color:var(--Text-Main);
}
.__nav-community-link:hover,
.__nav-browse:hover{
  background-color:var(--Background-Highlight);
  color:var(--Text-Main);
}
.__nav-community-link.active:hover,
.__nav-browse.active:hover{
  background-color:var(--Background-Hover);
}
.__nav-community-p{
  cursor:default;
}
.__btn.active{
  background-color:var(--Background-Hover);
}
.__helperMenu{
  margin:0 6px;
  padding:8px;
}
.__helper-item{
  padding:2px 7px;
}
.__column{
  flex-direction:column;
  align-items:flex-start;
}
.__footer-item{
  margin:8px 0;
  padding:0;
}

.__generalMenu{
  column-gap:10px;
}
.__generalItem{
  padding:0;
}
.__generalLink{
  color:var(--Text-Main);
  font:var(--Text-BodyLarge);
  padding:13px 29px;
  border-radius:3px;
  display:block;
}

.__generalLink:hover{
  background-color:var(--Background-Hover);
}
.__generalLink.active,
.__generalLink:focus,
.__generalLink:focus-visible,
.__generalLink:active{
  background-color:var(--ColorSecondary);
}

/* BROWSE */
.__catalog{
  flex-direction:column;
  align-items:flex-start;
  margin:10px 0;
}
.__catalog-item{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
  padding:5px;
  cursor:pointer;
  transition:.15s ease;
}
.__catalog-item p{
  color:var(--Text-Main);
}
.__catalog-item span{
  color:var(--Text-Dim);
}
.__catalog-item:hover{
  background-color:var(--Background-Highlight);
}
