.generalMenu{
  width:100%;
  background:var(--Background-Tertiary);
  color:var(--Text-Main);
  padding:6px 10px;
  position:fixed;
  top:59px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  column-gap:15px;
  z-index:2;
}

.shopSettings-area{
  display:flex;
  align-items:center;
  justify-content:flex-end;
  flex:25%;
}
