/* GENERAL */
.card-body{
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  gap:8px;;
  padding:15px;
  background-color:var(--Background-Main);
  width:23rem;
}
.card-img{
  width:100%;
  border-radius:3px;
}
.card-title{
  font:var(--Text-HeadingMedium);
  color:var(--Text-Main);
  width:100%;
}
.card-info{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.card-info-win{
  width:25px;
  height:25px;
}
.card-info__time-offer{
  color:var(--Text-Dim);
  font:var(--Text-BodyMedium);
}
.card-info-price{
  display:flex;
  align-items:center;
  column-gap:7px;
}
.card-info__discount{
  padding:8px 10px;
  background-color:var(--AccentGreen);
  border-radius:3px;
  font:var(--Text-HeadingSmall);
  color:var(--Background-Main);
  display:flex;
  align-items:center;
}
.card-info__discount-diff{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.card-info__discount-diff .discount-before{
  color:var(--Background-Hover);
  font:var(--Text-HeadingSmall);
  text-decoration:line-through;
}
.card-info__discount-diff .discount-after{
  color:var(--AccentGreen);
  font:var(--Text-HeadingSmall);
}

.card-info__wishlist{
  display:flex;
  align-items:center;
  justify-content:center;
}


/* CATEGORY */
.__cat{
  position:relative;
  padding:0;
  width:13.5rem;
}
.cat-title{
  position:absolute;
  left:50%;
  top:50%;
  translate:-50% -50%;
  font:var(--Text-HeadingMedium);
  white-space:nowrap;
}

/* FREE TO PLAY */
.__btn-playnow{
  padding:11px 16px;
  font:var(--Text-HeadingSmall);
}
.__text-free{
  font:var(--Text-HeadingSmall);
}

/* RECENTLY UPDATED */
.card-info-btns{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
}
.__recent-info{
  flex-direction:column;
}
.__recent-title{
  font:var(--Text-HeadingSmall);
}
.__recent-text{
  font:var(--Text-BodyLarge);
}
.__recent-up{
  width:16.5rem;
  height:343px;
  justify-content:space-between;
}

/* NEW & TRADING */
.__newtrading-price{
  font:var(--Text-HeadingSmall);
}

/* TOP SELLERS */
.__topseller-card-info{
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  height:100%;
}
.card-sub__topseller{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
}
.__topseller-cards-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:repeat(3, 1fr);
  gap:16px;
}
.__topseler-card-inside-grid{
  flex-direction:row;
  width:100%;
  height:131px;
  gap:20px;
}
.__topseller-img{
  height:101px;
  width:230px;
}

/* GAMES STREAMING */
.card-info-viewers{
  display:flex;
  align-items:center;
  column-gap:10px;
}
.card-info-viewers-icon{
  color:var(--ColorPrimary);
  width:22px;
  height:22px;
}
.card-info-viewers-counter{
  color:var(--ColorPrimary);
  font:var(--Text-BodyLarge);
}
.card-player{
  position:relative;
  width:100%;
}


