.navbar{
  width:100%;
  display:flex;
  align-items:center;
}

/* STORE */
.__nav-TitleBar{
  background-color:var(--Background-Main);
  height:59px;
  padding-left:22px;
  padding-right:22px;
  justify-content:space-between;
  position:fixed;
  top:0;
  left:0;
  z-index:5;
}

/* COMMUNITY */
.__nav-community{
  background-color:var(--Background-Main);
  justify-content:space-between;
  translate:0 50%;
  padding:10px;
  border-radius:5px;
}

/* STORE BROWSE */
.__browse{
  background-color:var(--Background-Main);
  display:grid;
  grid-template-columns:300px 1fr;
  justify-content:space-between;
  padding:10px;
  border-radius:5px;
}
