.titleBar{
  width:100%;
  height:59px;
  background-color:var(--Background-Main);
  padding:18px 22px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  position:fixed;
  top:0;
}
.group-1{
  display:flex;
  align-items:center;
  column-gap:19px;
}
.group-2{
  display:flex;
  align-items:center;
  column-gap:57px;
}

.closeMenu-area{
  display:flex;
  align-items:center;
  list-style:none;
  column-gap:18px;
}
.closeMenu-item{
  color:var(--Text-Dim);
}
.closeMenu-box{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  column-gap:18px;
}
.icon-minimize,
.icon-maximize,
.icon-close{
  font:var(--Text-HeadingMedium);
  display:flex;
  align-items:center;
}