.container{
  padding:0 13.434%;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  row-gap:70px;
  margin-bottom:50px;
}

/* COMMUNITY */
.__community-recoil{
  padding:0 178px;
}

/* STORE BROWSE */
.__browse-recoil-header{
  padding:0 150px;
}
.__main-browse{
  padding:0 170px;
  row-gap:20px;
}
