.header{
  position:relative;
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-direction:column;
  margin-top:116px;
  max-width:1980px;
  height:623px;
  overflow:hidden;
}
.header img{
  width:100%;
  height:100%;
}

/* COMMUNITY */
.__community-height{
  height:413px;
}
.community-header-img{
  position:absolute;
  background:url('../../../assets/img/header/header-community.png') no-repeat;
  background-size:cover;
  width:100%;
  height:100%;
  z-index:-1;
}
.header-msg-area{
  display:flex;
  flex-direction:column;
  align-items:center;
  translate:0 20%;
  row-gap:46px;
  filter:blur(0);
}
.title{
  color:var(--Text-Main);
  font:var(--Text-HeadingLarge);
}

/* STORE BROWSE */
.browse-header-img{
  position:absolute;
  background:url('../../../assets/img/header/browse/01.png') no-repeat;
  background-size:cover;
  width:100%;
  height:100%;
  -webkit-mask:linear-gradient(0deg, transparent, var(--Background-Highlight) 20%);
  mask:linear-gradient(0deg, transparent, var(--Background-Highlight) 20%);
  z-index:-1;
}
